/* .shit:hover{
    width: 100px;
    height: 100px;
} */

*{
    font-size: 14px;
    color:  rgba(80, 80, 80, 0.9);
}
html{
    background: #eee;
}
.WrapDragger{
    width: 150px;
    height: 150px;
    border: 1px solid rgba(120, 120, 120, 0.4);
    position: absolute;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
/* .DraggerLayout{
    -webkit-transition: all 3.3s;
    transition: all 3.3s;
} */