body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    font-size: 14px;
    color: rgba(80, 80, 80, 0.9);
}

html {
    background: #eee;
}

.props-draggers {
    margin: 10px;
    font-size: 10px;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    left: 0;
    align-items: center;
    justify-content: center;
    background: white;
}